
.icon-mail:before { content: '\e800'; } /* '' */
.icon-home-outline:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e802'; } /* '' */
.icon-off:before { content: '\e803'; } /* '' */
.icon-mobile:before { content: '\e804'; } /* '' */
.icon-credit-card:before { content: '\e805'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */