body
{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 1000px)
{
#collection
{
    width: 1200px;
    height: 600px;
    
    margin-left: auto;
    margin-right: auto;
   
}
}

#id1
{
    padding: 10px;
}

#logo
{
    background-color: white;
    max-width: 100%;
    height: auto;
    float: left;
    text-align: center;
    

}

#user
{   
    background-color: white;
    float: left;
    width: 800px;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    float:left;
    
}

#settings
{
    float: left;
    width: 85px;
    height: 100px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: right;
    
   
}

#home
{
    clear: both;
    background-color: white;
    width: 100px;
    height: 49px;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 10px;
}

#menu
{
    float: left;
    background-color: white;
    width: 886px;
    height: 35px;
    padding: 7px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 80px;
}

#offer
{
    clear: both;
    background-color: white;
    max-width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: left;
    
    
    

}

#history
{
    
    background-color: white;
    width: 550px;
    height: 450px;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-style: outset;
    padding: 10px;
    margin-left: 100px;
}


#balance
{
    float: left;
    background-color: white;
    width: 450px;
    height: 150px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-style: outset;
    border-color: rgb(252, 255, 252);
    margin-left: 10px;
    padding: 10px;
}

#foot
{
    clear: both;
    height: 50px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.option1
{
    font-size: 12px;
    float: left;
    padding: 5px;
    width: 120px;
    height: 25px;
    border-right: dotted white 1px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    float: left;
    
}

.option1:hover
{
    background-color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
}
 .option2
 {
    font-size: 12px;
    width: 200px;
    height: 35px;
    border-bottom: dotted white 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    float:left;
    
    
 }

 .option2:hover
 {
     background-color: white ;
     cursor: pointer;
     font-family: 'Montserrat', sans-serif;
    font-weight: bold;
 }

 #linia1
 {
     margin-left:50px;
     margin-right:100px;
 }



 #textunderimg
 {
     font-size: 10px;
    
     width: 600px;
     text-align: left;
 }
 
 #txtnexttoimg
 {
    font-size:20px;
    float: right;
    max-width: 230px;
    text-align: left;
    margin-right: 250px;
    margin-left: 50px;
    margin-bottom:100px;
    padding: 25px;
    position: relative;
 }

 #transactiontxt
 {
     font-size: 10px;
 }

 #saldo
 {
     text-align: right;
     float: right;
 }

#nrkonta
{
    font-size: 12px;
}
@media only screen and (max-width: 1200px)
{
    #offer { display: none;}
    #history {margin-left: 2px;}
    #ballance {margin-left: 2px;}
    #settings {position: relative;}
    #settings {visibility: hidden;}
    
}

.odbiorca
{
    margin-left: 10px;
}

.kwota

{
    text-align: right;
    float:right;
    padding-right: 150px;
}









